@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* styles globals */
.center {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 20px;
}

:root {
    --color-main: #29975b;
    --color-secondary: #e5f1eb;
    --color-text: white;
    --gradient-text: linear-gradient(145deg, var(--color-main), #105c1c, var(--color-main));
}


/* header */
#header {
    width: 100%;
    background-color: var(--color-main);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#header .container--header {
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .logo--header h1 {
    color: var(--color-text);
    font-weight: 500;
    letter-spacing: .3px;
}

#header nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#header nav button.menu-fechar,
#header nav button.menu-abrir {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

#header nav button i {
    display: block;
    color: var(--color-text);
    font-size: 28px;
    font-weight: 700;
}

#header nav ul {
    list-style: none;

    display: flex;
    gap: 1.5rem;
}

#header nav ul li a {
    text-decoration: none;
    color: var(--color-text);

    display: block;
    padding: 8px 0;
    transition: .3s ease-in-out;
}

#header nav ul li a:hover {
    opacity: .8;
}


/* main */
main {
    background-color: var(--color-secondary);
    margin-top: 70px;
    padding: 40px 0;
}

#simulador section {
    width: 100%;
    min-height: calc(100vh - 150px);
    max-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

#simulador section #left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#simulador section #left h1 {
    font-size: 20pt;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: .3px;
    line-height: 32px;
    color: #444;
}

#simulador section #result {
    text-align: center;
    font-size: 13pt;
    line-height: 23px;
}

#simulador section #result span {
    color: var(--color-main);
    font-weight: 700;
    letter-spacing: .3px;
}

#simulador section #left h1 span {
    color: var(--color-main);
}

#simulador section #left img {
    max-width: 400px;
}

#simulador section article {
    flex: 1 1 350px;
}   

#simulador section #right {
    height: 100%;
    padding: 8px 0;
}

#simulador section #right form {
    margin: 0 auto;
    max-width: 390px;
    height: 430px;
    padding: 30px 25px;

    background-color: rgb(245, 245, 245);

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);

    border-radius: 5px;
}

#simulador section #right form .input-label {
    width: 100%;
    margin-bottom: 5px;
}

#simulador section #right form .input-label label {
    font-size: 11pt;
}


#simulador section #right form h2 {
    margin-bottom: 1rem;
    color: #444;
    position: relative;
}

#simulador section #right form h2 span {
    color: var(--color-main);
}

#simulador section #right form h2::after {
    content: '';
    width: 59px;
    height: 2px;
    position: absolute;
    background: var(--color-main);
    bottom: 0px;
    left: 53px;
}

#simulador section #right form input,
#simulador section #right form select {
    width: 100%;
    height: 38px;
    padding: 0 7px;
    border: 1px solid #555;
    background-color: rgb(245, 245, 245);
    outline: none;
    border-radius: 5px;
    transition: .3s ease-in-out;
    color: #555;
    margin-top: .3rem;
}

#simulador section #right form input:hover,
#simulador section #right form select:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
} 

#simulador section #right form input[type='submit'] {
    background-color: var(--color-main);
    color: var(--color-text);
    border: none;
    width: 95px;
    cursor: pointer;
    letter-spacing: .5px;
    transition: .3s ease-in-out;
    font-size: 500;
}

#simulador section #right form input[type='submit']:hover {
    background-color: #2fa364;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
}


#erro-consumo {
    text-align: center;
    margin-top: -17px;
    color: red;
    font-weight: 500;
    letter-spacing: .3px;
    display: none;
}

#erro-watts {
    text-align: center;
    margin-top: -17px;
    letter-spacing: .3px;
    color: red;
    font-weight: 500;
    display: none;
}



/* rodape */
#rodape {
    width: 100%;
    padding-top: 30px;
    background: var(--color-main);
    color: var(--color-text);
}

#rodape .container--footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
}

#rodape .container--footer .contact-us {
    flex: 1 1 300px;
}

#rodape .container--footer .contact-us nav ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: .8rem;
    margin-bottom: 1.2rem;
}

#rodape .container--footer .contact-us nav ul li i {
    font-size: 22px;
}

#rodape .container--footer .about {
    flex: 1 1 300px;
} 

#rodape .container--footer .about p {
    letter-spacing: .5px;
    margin-bottom: 1rem;
}

#rodape .container--footer .about nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#rodape .container--footer .about nav ul li a {
    text-decoration: none;
    display: block;
}

#rodape .container--footer .about nav ul li a i {
    font-size: 30px;
    color: var(--color-text);
}

#rodape .container--footer .contact-us h4,
#rodape .container--footer .about h4 {
    font-size: 24px;
    margin-bottom: 1.5rem;
}

#rodape .container--footer .contact-us h4::after,
#rodape .container--footer .about h4::after {
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    background-color: var(--color-text);
    margin-top: 1.5rem;
}


/* direitos */
#rodape #direitos {
    width: 100%;
    padding: 16px;
    background-color: var(--color-main);
    border-top: 2px solid var(--color-text);
    margin-top: 2rem;
}

#rodape #direitos p {
    text-align: center;
}


@media (max-width: 730px) {
    #header nav ul {
        visibility: hidden;
        width: 50%;
        height: 100vh;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        right: -400px;
        background: var(--color-main);
        border-left: 2px solid var(--color-text);
        transition: .3s ease-in-out;
        opacity: 0;
    }

    #header nav button.menu-abrir {
        display: block;
    }

    #header nav button.menu-fechar {
        display: none;
    }

    #header nav.active button.menu-abrir{
        display: none;
    }

    #header nav.active button.menu-fechar{
        display: block;
        z-index: 11;
    }

    #header nav.active ul {
  
        visibility: visible;
        right: 0;
        opacity: 1;
        
    }
}

@media (max-width: 430px) {
    #header nav.active ul {
        border-left: none;
        visibility: visible;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
    }
}