@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* styles globals */
.center {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 20px;
}

/* variables */
/* color default: #88b06a */
/* #6ea544 */
:root {
    --color-main: #29975b;
    --color-secondary: white;
    --gradient-text: linear-gradient(145deg, var(--color-main), #105c1c, var(--color-main));
}

main {
    width: 100%;
    background-color: #e5f1eb;
}

/* header */
#header {
    width: 100%;
    background-color: var(--color-main);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#header .container--header {
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .logo--header h1 {
    color: var(--color-secondary);
    font-weight: 500;
    letter-spacing: .3px;
}

#header nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#header nav button.menu-fechar,
#header nav button.menu-abrir {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

#header nav button i {
    display: block;
    color: white;
    font-size: 28px;
    font-weight: 700;
}

#header nav ul {
    list-style: none;

    display: flex;
    gap: 1.5rem;
}

#header nav ul li a {
    text-decoration: none;
    color: var(--color-secondary);

    display: block;
    padding: 8px 0;
    transition: .3s ease-in-out;
}

#header nav ul li a:hover {
    opacity: .8;
}


/* home */
#home {
    margin-top: 70px;
    width: 100%;
    padding: 20px 0;
    background-color: #e5f1eb;
    z-index: 3;
    position: relative;
    overflow-y: hidden;
}

#home .container--home {
    min-height: calc(100vh - 170px);
    max-height: auto;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#home .container--home .icone-panel {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-main);
    font-size: 26px;
}

#home .left {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home .left h3 {
    color: var(--color-main);
    font-size: 44px;
    margin-bottom: .5rem;
    background-image: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
    
    color: black;
}

#home .left h4 {
    font-size: 28px;
    text-align: center;
    color: var(--color-main);
    margin-bottom: 1.5rem;
}

#home .left p {
    text-align: center;
    margin-bottom: 1rem;
    line-height: 28px;
    font-size: 18px;
}

#home .left button {
    border: none;
    cursor: pointer;

    padding: 10px 28px;
    border-radius: 3px;
    letter-spacing: .5px;
    font-size: 14px;
    
    background-color: var(--color-main);
    color: white;

    transition: .3s ease-in-out;
}

#home .left button:hover {
    background-color: #37a066;
}

#home .right {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
    margin-bottom: 1rem;
}

#home .right::after {
    content: '';
    width: 80%;
    height: 80%;

    display: block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: homeRight 3s ease-in-out infinite;
    background-color: rgba(41, 151, 91, .2);
    border-radius: 61% 39% 69% 31% / 89% 68% 32% 11% ;
    z-index: 1;
}

@keyframes homeRight {
    0% {
        background-color: rgba(41, 151, 91, .2);
    }

    50% {
        background-color: rgba(41, 151, 91, .3);
    }
}

#home .right img {
    max-width: 530px;
    backdrop-filter: blur(15px);

    width: 100%;
    z-index: 2;
}


/* quem somos */
#quem-somos {
    width: 100%;
    background: linear-gradient(210deg, var(--color-main), #5ddd90);
    clip-path: polygon(0 60px, 100% 0, 100% 100%, 0% 100%);
    padding: 70px 0;
}


#quem-somos .header--quem-somos h2 {
    font-size: 30px;
    text-align: center;
    
    color: white;
}

#quem-somos .container--quem-somos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#quem-somos .container--quem-somos .left {
    flex: 1 1 377px;
    display: flex;
    justify-content: center;
}

#quem-somos .container--quem-somos .left img {
    max-width: 450px;
    width: 100%;
}

#quem-somos .container--quem-somos .right {
    flex: 1 1 377px;
}

#quem-somos .container--quem-somos .right p {
    text-indent: 30px;
    line-height: 25px;
    color: white;
}


/* projetos */
#projetos {
    width: 100%;
    padding: 4rem 0;
}

#projetos .header--projetos h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 2rem;
    background-image: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
    
    color: black;
}

#projetos .container--projetos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#projetos .container--projetos .cards {
    width: 330px;
    padding: 20px 20px 30px 20px;
    border-radius: 3px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background: linear-gradient(210deg, var(--color-main), #5ddd90);
}

#projetos .container--projetos .cards p {
    margin-bottom: 1.5rem;
    color: white;
    letter-spacing: .3px;
}

#projetos .container--projetos .cards button {
    border: none;
    cursor: pointer;

    padding: 8px 18px;
    border-radius: 3px;
    letter-spacing: .5px;
    font-size: 14px;
    
    background-color: white;
    color: var(--color-main);

    transition: .3s ease-in-out;
    
}

#projetos .container--projetos .cards .cards-img {
    width: 110px;
    height: 130px;
}

#projetos .container--projetos .cards .cards-img img {
    width: 100%;
}


/* rodape */
#rodape {
    width: 100%;
    padding-top: 30px;
    background: linear-gradient(210deg, var(--color-main), #5ddd90, var(--color-main));
    color: white;
}

#rodape .container--footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
}

#rodape .container--footer .contact-us {
    flex: 1 1 300px;
}

#rodape .container--footer .contact-us nav ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: .8rem;
    margin-bottom: 1.2rem;
}

#rodape .container--footer .contact-us nav ul li i {
    font-size: 22px;
}

#rodape .container--footer .about {
    flex: 1 1 300px;
} 

#rodape .container--footer .about p {
    letter-spacing: .5px;
    margin-bottom: 1rem;
}

#rodape .container--footer .about nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#rodape .container--footer .about nav ul li a {
    text-decoration: none;
    display: block;
}

#rodape .container--footer .about nav ul li a i {
    font-size: 30px;
    color: white;
}

#rodape .container--footer .contact-us h4,
#rodape .container--footer .about h4 {
    font-size: 24px;
    margin-bottom: 1.5rem;
}

#rodape .container--footer .contact-us h4::after,
#rodape .container--footer .about h4::after {
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    background-color: white;
    margin-top: 1.5rem;
}


/* direitos */
#rodape #direitos {
    width: 100%;
    padding: 16px;
    background-color: var(--color-main);
    border-top: 2px solid white;
    margin-top: 2rem;
}

#rodape #direitos p {
    text-align: center;
}

@media (max-width: 730px) {
    #header nav ul {
        visibility: hidden;
        width: 50%;
        height: 100vh;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        right: -400px;
        background: var(--color-main);
        border-left: 2px solid white;
        transition: .3s ease-in-out;
        opacity: 0;
    }

    #header nav button.menu-abrir {
        display: block;
    }

    #header nav button.menu-fechar {
        display: none;
    }

    #header nav.active button.menu-abrir{
        display: none;
    }

    #header nav.active button.menu-fechar{
        display: block;
        z-index: 11;
    }

    #header nav.active ul {
  
        visibility: visible;
        right: 0;
        opacity: 1;
        
    }
}

@media (max-width: 430px) {
    #header nav.active ul {
        border-left: none;
        visibility: visible;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
    }
}

/* animation page */
[data-anima] {
    opacity: 0;
    transition: .3s ease-in-out;
    
}

[data-anima='left'] {
    transform: translateX(-300px);
}

[data-anima='right'] {
    transform: translateX(300px);
}

[data-anima].animation {
    transform: translateX(0);
    opacity: 1;
}